body {
}
.Labels{
    color:white;
}
.DropDownList {
    border-radius: 1000px;
    color: black;
}
.TextB {
    border-radius:1000px;
}
.Button {
    border-radius: 1000px;
    color: black;
}
.Validators{
    color:red;
}