body {
}
.parent {
    height: 849px;
    background: linear-gradient(90deg, rgba(0, 200, 89, 0.8) 0%, rgba(0, 200, 112, 0.8) 57%, rgba(0, 200, 144, 1) 100%);
}
.center {
    margin: auto;
    height:100%;
    width:50%;
    padding-top:5%;
}

.Labels {
    font-size: large;
    color: white;
}
.DropDownList {
    font-size: large;
    border-radius: 1000px;
    color: black;
}
.TextB {
    font-size: large;
    border-radius: 1000px;
}
.Button {
    font-size: large;
    border-radius: 1000px;
    color: black;
}
.Validators {
    font-size: large;
}
.error{
    color: red;
    font-size: large;
}