
.panel {
    background: linear-gradient(90deg, rgba(0, 200, 89, 0.8) 0%, rgba(0, 200, 112, 0.8) 57%, rgba(0, 200, 144, 1) 100%);
    box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
    border-radius: 6px;

    height: 100%;
}
.panel-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    height: 60px;
    background: #fff;
}

.title {
    color: #5E6977;
    font-weight: 500;
}

.calendar-views span {
    font-size: 14px;
    font-weight: 300;
    color: #BDC6CF;
    padding: 6px 14px;
    border: 2px solid transparent;
}
.categories {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 25%;
    padding: 39px 0px 41px 26px;
}

.category {
    display: flex;
    flex-direction: column;
}

    .category span:first-child {
        font-weight: 300;
        font-size: 14px;
        opacity: 0.6;
        color: #fff;
        margin-bottom: 6px;
    }

    .category span:last-child {
        font-size: 32px;
        font-weight: 300;
        color: #fff;
    }
.chart {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    position: relative;
}



.android-os span {
    background: #80B354;
}

.ios-os span {
    background: #F5A623;
}

.windows-os span {
    background: #F8E71C;
}
.wrapper {
 height:100%;
}