<?xml version="1.0" encoding="utf-8" ?>
<bundles version="1.0">
  <styleBundle path="~/Content/css">
    <include path="~/Content/bootstrap.css" />
    <include path="~/Content/nouislider.min.css" />
    <include path="~/Content/Site.css" />
    <include path="~/Content/ionicons.min.css" />
  </styleBundle>
  <styleBundle path="~/EditProfile">
    <include path="~/Content/EditProfile/EditProfile.css" />
  </styleBundle>
  <styleBundle path="~/Content/CardsCSS">
    <include path="~/Content/cards.css" />
  </styleBundle>
<styleBundle path="~/Content/LoginCSS">
  <include path="~/Content/Login/Login.css" />
  </styleBundle>
  
<styleBundle path="~/Content/RegistrationCSS">
  <include path="~/Content/Registration/Registration.css" />
  </styleBundle>
  
<styleBundle path="~/Content/SearchCSS">
  <include path="~/Content/Search/Search.css" />
  </styleBundle>
  <styleBundle path="~/Content/BrowseCSS">
  <include path="~/Content/Browse/Browse.css" />
  </styleBundle>

<styleBundle path="~/Content/UploadSongsCSS">
  <include path="~/Content/UploadSongs/UploadSongs.css" />
  </styleBundle>



  <styleBundle path="~/Content/ContactCSS">
    <include path="~/Content/Contact/Contact.css" />
  </styleBundle>

  <styleBundle path="~/Content/Guest MasterCSS">
    <include path="~/Content/Guest Master/Guest.css" />
  </styleBundle>

  <styleBundle path="~/Content/IntroductionCSS">
    <include path="~/Content/Introduction/Introduction.css" />
  </styleBundle>


  <styleBundle path="~/Content/WelcomeCSS">
    <include path="~/Content/Welcome/Welcome.css" />
  </styleBundle>

  <styleBundle path="~/Content/AdminData">
    <include path="~/Content/AdminData/AdminData.css" />
  </styleBundle>

</bundles>
