<?xml version="1.0" encoding="utf-8" ?>
<bundles version="1.0">
  <styleBundle path="~/Content/css">
    <include path="~/Content/bootstrap.css" />
    <include path="~/Content/nouislider.min.css" />
    <include path="~/Content/Site.css" />
    <include path="~/Content/ionicons.min.css" />
  </styleBundle>
  <styleBundle path="~/Content/EditProfile">
    <include path="~/Content/EditProfile/EditProfile.css" />
  </styleBundle>

<styleBundle path="~/Content/Login">
  <include path="~/Content/Login/Login.css" />
  </styleBundle>
</bundles>