<?xml version="1.0" encoding="utf-8" ?>
<bundles version="1.0">
  <styleBundle path="~/Content/css">
    <include path="~/Content/bootstrap.css" />
    <include path="~/Content/nouislider.min.css" />
    <include path="~/Content/Site.css" />
    <include path="~/Content/ionicons.min.css" />
  </styleBundle>
  <styleBundle path="~/Content/EditProfile">
    <include path="~/Content/EditProfile/EditProfile.css" />
  </styleBundle>
  <styleBundle path="~/Content/Cards">
    <include path="~/Content/cards.css" />
  </styleBundle>
<styleBundle path="~/Content/Login">
  <include path="~/Content/Login/Login.css" />
  </styleBundle>
  
<styleBundle path="~/Content/Registration">
  <include path="~/Content/Registration/Registration.css" />
  </styleBundle>
  
<styleBundle path="~/Content/Search">
  <include path="~/Content/Search/Search.css" />
  </styleBundle>
  <styleBundle path="~/Content/Browse">
  <include path="~/Content/Browse/Browse.css" />
  </styleBundle>

<styleBundle path="~/Content/UploadSongs">
  <include path="~/Content/UploadSongs/UploadSongs.css" />
  </styleBundle>


</bundles>

  <styleBundle path="~/Content/Contact">
    <include path="~/Content/ContactUs/Contact.css" />
  </styleBundle>

  <styleBundle path="~/Content/Guest Master">
    <include path="~/Content/Guest Master/Introduction.css" />
  </styleBundle>

  <styleBundle path="~/Content/Introduction">
    <include path="~/Content/Introduction/Introduction.css" />
  </styleBundle>
  
</bundles>
