body {
    background: linear-gradient( rgba(22,22,22,0.989), rgba(22,22,22,0.95), rgba(22,22,22,0.989) ),url(https://d2c87l0yth4zbw.global.ssl.fastly.net/i/home/lifestyle-discover-lg.jpg), center center fixed;
    background-size: cover;
    font-family: "Open Sans", sans-serif;
}

#header {
    width: 100%;
    height: 150px;
    border-bottom: 1px solid rgba(250, 250, 250, 0.1);
}

.logo {
    background-image: url(http://mhdnyc.splashthat.com/img/events/52537/assets/6274.spotify-logo-horizontal-white-rgb.png);
    background-size: 200px;
    background-repeat: no-repeat;
    margin-left: -100px;
    margin-top: 40px;
    left: 50%;
    position: absolute;
    width: 200px;
    height: 60px;
}

#main {
    width: 300px;
    height: 300px;
    margin: 150px auto;
    .loginfb

{
    width: 300px;
    height: 30px;
    background-color: rgba(59, 89, 153, 1);
    background: -moz-linear-gradient(top, rgba(59, 89, 153, 1), rgba(59, 89, 153, 1));
    background: -ms-linear-gradient(top, rgba(59, 89, 153, 1), rgba(59, 89, 153, 1));
    background: -webkit-linear-gradient(top, rgba(59, 89, 153, 1), rgba(59, 89, 153, 1));
    border-radius: 20px;
    &::after

{
    content: 'Login with FaceBook';
    color: rgb(223, 224, 230);
    font-weight: 400;
    font-size: 13px;
    display: block;
    margin-top: 10px;
    padding-top: 7px;
    text-align: center;
}

//after
}

//.loginfb

.linel {
    width: 135px;
    height: 1px;
    background-color: rgba(240, 240, 240, 0.2);
    margin-top: 30px;
    float: left;
    &::after

{
    content: 'OR';
    font-size: 13px;
    color: rgba(240, 240, 240, 0.58);
    position: absolute;
    margin-left: 141px;
    margin-top: -6px;
}

}

.liner {
    width: 135px;
    height: 1px;
    background-color: rgba(240, 240, 240, 0.2);
    margin-top: 30px;
    float: right;
}

#form {
    margin-top: 40px;
    :: -webkit-input-placeholder

{ /* WebKit browsers */
    color: rgb(136, 137, 140);
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: rgb(136, 137, 140);
    opacity: 1;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: rgb(136, 137, 140);
    opacity: 1;
}

:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: rgb(136, 137, 140);
}

input[name=input] {
    width: 290px;
    height: 25px;
    background-color: rgba(46, 47, 51, 0.75);
    border-radius: 3px;
    padding-left: 10px;
    color: rgb(136, 137, 140);
    font-size: 12px;
    outline: none;
    border: none;
    margin-top: 15px;
    &:focus

{
    background-color: rgb(60, 60, 60);
}

}


h5 {
    color: rgb(136, 137, 140);
    font-size: 14px;
    margin-top: 10px;
    float: left;
}


input[name=remember] {
    float: right;
    margin-top: 10px;
}


input[name=login] {
    clear: both;
    display: block;
    margin: 50px auto;
    width: 120px;
    height: 30px;
    outline: none;
    border: none;
    background-color: rgb(122, 189, 0);
    border-radius: 30px;
    color: RGBA(231, 252, 255, 1);
    font-weight: 400;
    font-size: 12px;
    text-transform: uppercase;
}

.btn-toggle {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden;
}

    .btn-toggle + label {
        display: block;
        position: relative;
        float: right;
        margin-top: 10px;
        cursor: pointer;
        outline: none;
        user-select: none;
    }

input.btn-toggle-round + label {
    width: 30px;
    padding: 4px;
    height: 15px;
    background-color: transparent;
    border-radius: 10px;
    cursor: default;
}

    input.btn-toggle-round + label:before,
    input.btn-toggle-round + label:after {
        display: block;
        position: absolute;
        top: 1px;
        left: 1px;
        bottom: 1px;
        content: "";
    }

    input.btn-toggle-round + label:before {
        right: 1px;
        background-color: rgba(0, 0, 0, 0.8);
        border: 2px solid rgba(200, 200, 200, 0.3);
        border-radius: 10px;
        transition: background 0.4s;
    }

    input.btn-toggle-round + label:after {
        width: 20px;
        background-color: rgb(136, 137, 140);
        border-radius: 100%;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
        transition: margin 0.4s cubic-bezier(.50,.28,0.7,.8);
    }

input.btn-toggle-round:active + label:after {
    -webkit-animation: deformation 0.4s ease-in-out;
}

input.btn-toggle-round:hover + label:after {
    background-color: rgb(250, 250, 250);
}

input.btn-toggle-round:checked + label:after {
    background-color: rgb(250, 250, 250);
}

input.btn-toggle-round:checked + label:before {
    background-color: rgb(100, 143, 0);
    border: 2px solid rgb(100, 143, 0);
}

input.btn-toggle-round:checked + label:after {
    margin-left: 20px;
}

}
//form
}

//#main




#footer {
    text-align: center;
    display: block;
    margin-top: 120px;
    color: rgba(231, 252, 255, 0.6);
    text-transform: uppercase;
    font-size: 13px;
    a

{
    text-decoration: none;
    color: inherit;
    display: block;
    margin-top: 5px;
}

}



@-webkit-keyframes deformation {
    0% {
        width: 20px;
    }

    20% {
        width: 25px;
    }

    40% {
        width: 30px;
    }

    80% {
        width: 25px;
    }

    100% {
        width: 20px;
    }
}
}
